package main

templ Hello(name string) {
	<div>
		<span>Hello, { name }!</span>
		@Button("Click me")
		@Input("name")
	</div>
}

templ Button(label string) {
	<button>{ label }</button>
}

templ Input(name string) {
	<input type="text" name={ name }/>
}
