@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply prose max-w-4xl px-2 mx-auto bg-black prose-invert selection:bg-primary-700/50;
  }

  a {
    @apply underline-offset-2;
  }
}
