---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { getPosts, Post } from "../posts";
import Highlight from "../components/Highlight.astro";
import type { Highlight as IHighlight } from "../highlight";

const posts = await getPosts();

const HIGHLIGHTS: IHighlight[] = [
  {
    type: "post",
    post: posts["drizzle-with-ts-rest.mdx"] as Post,
  },
  {
    type: "post",
    post: posts["dont-use-effect.mdx"] as Post,
  },
  {
    type: "post",
    post: posts["stop-throwing-away-type-safety.mdx"] as Post,
  },
  {
    type: "custom",
    title: "ts-rest",
    content:
      "RPC-like client and server helpers for a magical end to end typed experience",
    img: import("../images/ts-rest-banner.jpg"),
    github: "ts-rest/ts-rest",
    href: "https://ts-rest.com",
  },
  {
    type: "post",
    post: posts["architecting-a-modern-monorepo.mdx"] as Post,
  },

  {
    type: "custom",
    title: "Graph Note Editor",
    content: "Obsidian-like editor with a pinch of Notion ",
    img: import("../images/xeo-editor.png"),
    github: "oliverbutler/graph-notes",
  },
  {
    type: "custom",
    title: "Xeo",
    content: "A modern tool to bring SCRUM to Notion!",
    img: import("../images/xeo-dash.png"),
    github: "oliverbutler/xeo",
  },
  {
    type: "custom",
    title: "Steggy",
    content: "Written in Rust, features a simple cli",
    img: import("../images/steggy.png"),
    github: "oliverbutler/steggy",
  },

  {
    type: "post",
    post: posts["strapi-blur-images-blurhash.mdx"] as Post,
  },
  {
    type: "custom",
    title: "Finance",
    content:
      "Typescript Next.js app to track your finances with Truelayer integration",
    img: import("../images/finance.png"),
    github: "oliverbutler/finance",
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="grid grid-cols-1 sm:grid-cols-3 xl:grid-cols-4 gap-6">
        {HIGHLIGHTS.map((highlight) => <Highlight highlight={highlight} />)}
      </div>
    </main>
    <Footer />
  </body>
</html>
