---
export interface Props {
  url: string;
  caption?: string;
}

const { url, caption } = Astro.props;
---

<div>
  <img src={url} class="mx-auto" alt="gif" />
  {caption && <p class="mt-1 text-center">{caption}</p>}
</div>
