---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="mb-10">
  <h2 class="mb-1">
    {SITE_TITLE}
  </h2>
  <nav class="flex flex-row space-x-4">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink external href="https://github.com/oliverbutler" target="_blank"
      >GitHub</HeaderLink
    >
    <HeaderLink
      external
      href="https://twitter.com/_oliverbutler"
      target="_blank">Twitter</HeaderLink
    >
  </nav>
</header>
