package templates

templ Index() {
	<html>
		<head>
			<title>Oliver Butler</title>
			<script src="./static/htmx.min.js"></script>
		</head>
		<body>
			<h1>Oliver Butler</h1>
			<ul>
				<li><a href="/maps">Maps</a></li>
			</ul>
		</body>
	</html>
}
