.App {
  text-align: center;
}

$theme: #34cfe4;
$theme-dark: #14525a;

.App-nav {
  position: absolute;
  width: calc(100vw - 60px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  color: $theme;
  button {
    height: fit-content;
    padding: 10px;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: transparent;
    border: solid 3px $theme;
    color: $theme;
    transition: 255ms;
    &:hover {
      background-color: $theme-dark;
    }
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #282c34;
}

.intro {
  padding: 100px;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.react-rotating-text-cursor {
  font-weight: 100;
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
